@use "./variables" as vars;
@use "sass:meta";
@use "sass:math";

/// 미디어 브레이크포인트용 믹스인
@mixin break($media) {
  @if meta.type-of($media) == "number" {
    @if math.unit($media) == "px" {
      @media screen and (min-width: #{$media}) {
        @content;
      }
    } @else {
      // 숫자지만 단위가 em 이라고 가정
      @media screen and (min-width: #{math.div($media, 1)}em) {
        @content;
      }
    }
  } @else if $media == retina {
    @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      @content;
    }
  } @else {
    @media screen and (#{$media}) {
      @content;
    }
  }
}

/// 트랜지션용 믹스인
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}
