$white: #fff;
$black: #121212;
$gray: #807f83;
$glitch-red: #ff536b;
$glitch-blue: #3ffeff;

/* 브레이크포인트 변수 */
$small-5: 20;
$small-4: 25;
$small-3: 30;
$small-2: 40;
$small: 43.125;
$med-4: 46.8;
$med-3: 48;
$med-2: 50;
$med: 55;
$large-5: 58;
$large-4: 60;
$large-3: 64;
$large-2: 68;
$large: 75;
